[user]
	email = oliverwoodhouse06@gmail.com
	name = Oliver Woodhouse
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[http]
	version = HTTP/1.1
