[submodule "dwm"]
	path = .dwm
	url = https://github.com/Doomboom589/dwm
[submodule "st"]
	path = st
	url = https://github.com/Doomboom589/st
[submodule ".st"]
	path = .st
	url = https://github.com/Doomboom589/st
[submodule "st-1"]
	path = st-1
	url = https://github.com/Doomboom589/st-1
