@import "mocha.css";

* {
  font-family: Iosevka Medium;
  font-size: 32px;
  min-height: 0;
  border-radius: 0.75rem;
}

window#waybar {
  background-color:rgba(0, 0, 0, 0);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: @surface0;
  margin: 0.5rem 0rem 0rem 0.3rem;
  padding: 0px 0.5rem 0px 1.0rem;
  border: 4px solid @surface1;
}

#workspaces button {
  color: @lavender;
  margin: 0px 0px 0px 0px;
  padding: 0rem 0.75rem 0rem 3px;
  background-color: transparent;
}

#workspaces button.active {
  padding: 0px 0px 0px 0px;
  margin: 0px 1rem 0px 0px;
  color: @mauve;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#window,
#pulseaudio,
#custom-power {
  font-size: 22px;
  background-color: @surface0;
  margin: 7px 4px 2px 1px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#network {
  color: @flamingo;
}

#custom-launcher {
  color: @sapphire;
  padding: 0.5rem 0.35rem 0.5rem 1.0rem;
  background-color: @surface0;
  margin: 7px 3px 2px 7px;
  font-size: 32px;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery.critical:not(.charging) {
  color:@red;
  animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: @red;
    color: @crust;
  }
}

#backlight {
  color: @yellow;
  font-size:25px
}

#pulseaudio {
  color: @lavender;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    color: @red;
    font-size: 30px;
    padding: 0rem 1rem 0rem 1.1rem;
    margin: 7px 7px 2px 1px 
}

#tray {
}

#window {
  color: @crust; 
  background-image: linear-gradient(-45deg, @sapphire 0%, @lavender 52%, @mauve 90%);
}

tooltip {
    background: @base;
    border: 1px solid @lavender;
}

tooltip label {
    font-size: 22px;
    color: @text;
}
